<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{!-- Optional Meta Tags --}}
    <meta name="description" content="{{meta.description}}">
    <meta name="author" content="{{meta.author}}">
    
    {{!-- Bootstrap CSS --}}
    <link href="//cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet">
    
    {{!-- Custom Css --}}
    <link rel="stylesheet" href="/css/style.css">

    <title>{{page.title}}</title>
</head>

<body class="d-flex flex-column vh-100">
    <header>
        {{>nav}}
    </header>
    <main class="flex-shrink-0 mt-5">
        <div class="container">
            