{{>docHead}}
    <div class="jumbotron">
    <h1>{{page.title}}</h1>
    <p>Welcome {{user.name}}!</p>
    <p id='json'>Loading Weather...</p>
    <form class="form-control">
        <div class="input-group">
            <input id="locationSearch" class="form-control" placeholder="Search Location...">
            <button class="btn btn-primary">Search Location</button>
        </div>
    </form>
    {{!-- PAGE BODY HERE --}}
    <p>{{page.body}}</p>
    </div>
{{>docFoot}}